/* css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-size: 74px;
    font-weight: 900;
    padding-bottom: 50px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 26px;
}


/* Utils */

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sml{
    max-width: 900px;
    margin: 0 auto;
}

.bgc-black{
    background-color: #000;
}

.bgc-lightblue{
    background-color: #B4D0E7;
}

.bgc-lightgreen{
    background-color: #A2D39B;
}
.bgc-bordeaux{
    background-color: #61082B;
}
.bgc-blue{
    background-color: #0093CE;
}
.bgc-lightred{
    background-color: #FF1C1C;
}
.bgc-red{
    background-color: #D5001F;
}
.bgc-lightgray{
    background-color: #e0e0e0;
}
.bgc-darkblue{
    background-color: #0D2481;
}
.bgc-yellow{
    background-color: #FFD830;
}

.space{
    gap: 20px;
}

.space-big{
    gap: 40px;
}


.btn{
    background-color: rgb(0, 97, 255);
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
}

.btn-small{
    padding: 5px 15px;
}

.btn-big{
    padding: 10px 30px;
}

.btn-white{
    background-color: #fff;
    color: #000; 
    border: 1px solid #000;
}

/* ? header*/

/* ! navbar */
.navbar{
    background-color: #fff;
    height: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 5px 8px #888888;
}

.navbar a{
    text-decoration: none;
    color: #000;
    
}
.navbar .btn{
    color: #fff;
    

}

.left-navbar, .right-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin-right: 20px;
}
 

/* ! Jumbotron */

.introduction{
    margin-top: 50px;
    margin-bottom: 150px;
    height: 765px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.intro{
    display: flex;
}
.intro-content{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.intro-left{
    max-width: 30%;
}

.intro-right{
    max-width: 70%;
}
.intro-left a{
    display: inline-block;
}
.intro-left *{
    margin-bottom: 40px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
}


/* !Business plan section */

.title{
    height: 100px;
    margin-bottom: 60px;

}
.title span{
    display: inline-block;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 14px;
}

.radio-btn::before{
    display: inline-block;
    border: 4px solid currentColor;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    
}

.radio-btn.chosen::before{
    color: #0061FF;
    content: "";
    height: 11px;
    width: 11px;
}
.radio-btn.unchosen::before{
    border-width: 2px;
    color: gray;
    content: "";
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-basis: calc(100% / 3 - 40px / 3);
    flex-shrink: 0;
}

.card{
    flex-basis: 100%; 
    border: 1px solid #888;
    
}

.grow{
    flex-grow: 1;
}

.target{
    padding: 10px 0;
    border-bottom: 1px solid #888;
    text-align: center;
}

.link-plan span{
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.link-plan a:first-child{
    display: block;
    text-align: center
}
.link-plan a:last-child{
    color: blue;
    display: inline-block;
}

.target-content{
    padding: 20px 30px;
    font-size: 14px;
}

.target-content > *{
    margin-bottom: 50px;
}

.name-plan > *, .link-plan > *, .details-plan > *{
    margin: 15px 0;
}



.name-plan :nth-child(2){
    font-weight: bold;
    margin-bottom: 0;
}
.name-plan :last-child{
    color: grey;
    margin-top: 10px;
}

.info-list li{
    display: flex;
    align-items: baseline;
    gap: 5px; 
    margin-bottom: 20px;
}

.top-team-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bottom-team-card{
    max-width: 70%;
    font-size: 13px;
    margin-bottom: 10px;
}
.bottom-team-card :first-child{
    margin-bottom: 40px;
    font-weight: bold;
}

.fa-check{
    color: #0C63FF;
}




/* ! find partner section */

.find-partner-section{
    display: flex;
    margin-top: 150px;
}

.left-sec-partner{
    max-width: 60%;
    
}

.right-sec-partner{
    flex-basis: 40%;
    padding: 40px;
}

.right-sec-partner *{
    display: inline-block;
    margin-bottom: 30px;
}

.right-sec-partner h2{
    font-size: 20px;
}
.right-sec-partner p{
    font-size: 15px;
}

.right-sec-partner a{
    padding: 10px 15px;
}

/* !Dropbox business operation section */

.operations{
    margin-top: 150px;
}

.operation-content h2{
    font-size: 36px;
    margin-bottom: 40px;
}

.card-operation h3{
    font-size: 22px;
    margin-bottom: 25px;
}

.card-operation p{
    font-size: 15px;
}

.card-operation{
    border-style: hidden;
    margin-bottom: 20px;
}

.operation-content > p{
    font-size: 47px;
    margin-top: 100px;
    font-weight: bold;
}

.operation-content > a{
    color: blue;
    display: inline-block;
    margin-top: 50px;
}

/*  members  (css di come l'avevo svolto prima della "correzione")

.members{
    display: flex;
}

.members-sec-left, .members-sec-center, .members-sec-right{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    margin-top: 100px;
}


.col-members{
    flex-basis: calc(100% / 2); 
    
}

.card-members{
    flex-basis: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.col-members{
    display: flex;
    flex-shrink: 0;
    height: 300px;
}

.card-members img{
    max-width: 50%;
    filter: invert(1);
}
.members-sec-center{
    padding: 50px;
}

.members-center-content img{
    max-width: 50%;
    margin-bottom: 50px;
}

.members-center-content p{
    margin-bottom: 50px;
}
*/

/*! members*/

#members{
    margin-top: 150px;
}

.row-members{
    display: flex;
}

.col-left, .col-center, .col-right{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.card-members{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid transparent;
}

.col-members img{
    width: 55%;
    filter: invert(1);
}

.card-members:hover{
    border: 15px solid rgba(255, 255, 255, 0.5);
}

.col-members.bgc-lightgray img{
    filter: invert(0);
    max-width: 45%;
    margin-bottom: 60px;
}

.col-center{
    padding: 50px;
}

.col-members.bgc-lightgray p{
    margin-bottom: 50px;
}



/* ! free trial */

.free-trial-content{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.free-trial-content p{
    max-width: 65%;
    font-size: 42px;
    color: #61082B;
    font-weight: bold;
}
.free-trial-content a{
    display: inline-block;
    border-color: transparent;
    margin-top: 10px;
}

/* !FAQ */

.faq{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.faq-content{
    width: 100%;
}

.question *{
padding: 40px 0;
font-weight: bold;
}

.question{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;    
}

.faq-content div:first-of-type{
    border-top: 1px solid grey;
    margin-top: 40px
}

/* ! footer */

footer{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.footer-content{
    display: flex;
    padding-top: 100px;
}

.link-section{
    flex-basis: calc(100%/5);
    height: 300px;
}

.link-section h3{
    font-size: 22px;
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}

.languages{
    display: inline-block;
    color: gray;
    padding: 50px 0;
    border-top: 1px solid grey;
    font-size: 14px;
}

/* BONUS */
.btn:hover{
    background-color: rgba(0, 97, 255, 0.7);
}

.btn-white:hover{
    background-color: rgba(211, 211, 211, 0.7);
}




