/* css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
}

footer{
    height: 100px;
    background-color: #000;
}

img{
    max-width: 100%;
}

h1{
    font-size: 74px;
    font-weight: 900;
    padding-bottom: 50px;
}

h2{
    font-size: 36px;
}

h3{
    margin-bottom: 10px;
}

/* Utils */

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sml{
    max-width: 900px;
    margin: 0 auto;
}

.bgc-black{
    background-color: #000;
}

.bgc-lightblue{
    background-color: #B4D0E7;
}

.space{
    gap: 20px;
}

.btn{
    background-color: #0061FF;
    color: #fff; 
    padding: 5px 10px;
    text-decoration: none;
}

/*!header*/

/* navbar */
.navbar{
    background-color: #fff;
    height: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 5px 8px #888888;
}

.navbar a{
    text-decoration: none;
    margin: 0 20px;
    color: #000;
    
}
.navbar .btn{
    color: #fff;
    

}

.left-navbar, .right-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin-right: 20px;
}
 

/* intro */

.introduction{
    height: 800px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content{
    max-width: 100%;
}

.jumbo{
    float: right;
    max-width: 70%;
}

.intro-content p:first-of-type{
    margin-bottom: 50px;
}

.intro-content p:last-of-type{
    margin-top: 50px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 60px;
}


/* !Business plan */

.titolo{
    height: 100px;
    margin-top: 150px;
    margin-bottom: 60px;

}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-basis: calc(100% / 3 - 40px / 3);
    flex-shrink: 0;
}

.card{
    flex-basis: 100%; 
    border: 1px solid #888;
    
}

.grow{
    flex-grow: 1;
}

.target{
    padding: 10px 0;
    border-bottom: 1px solid #888;
    text-align: center;
}

.link-plan{
    border-bottom: 1px solid #888;
}

.name-plan, .info-plan, .link-plan, .details-plan{
    padding: 15px;
}

.name-plan, .info-plan, .link-plan, .details-plan{
    margin: 15px 0;
}

.nameplan  > *{
    margin: 10px 0;
}


/* ! sec. find partner */

.find-partner-section{
    display: flex;
    height: 500px;
    border: 2px solid black;
    margin-top: 100px;
}

.left-sec-partner{
    /*max-*/width: 60%;
    border: 2px dashed rgb(8, 255, 90);
}

.right-sec-partner{
    flex-grow: 1;
    border: 2px dashed rgb(221, 15, 15);
}

/* ! paragrafo */

.paragraph{
    height: 100px;
    border: 2px solid black;
    margin: 50px auto;
}

/* ! members */

.members{
    display: flex;
}

.members-sec-left, .members-sec-center, .members-sec-right{
    /*max-*/width: calc(100% / 3);
    height: 500px;
    margin: 100px 0;
    border: 2px solid violet;
}


.col-members{
    flex-basis: calc(100% / 2); 
    
}

.card-members{
    flex-basis: 100%; 
    border: 2px solid rgb(128, 0, 0);
    height: 250px;
}

.members-sec-center{
    padding: 50px;
}

.members-center-content{
    height: 300px;
    border: 2px dashed black;
}

/* ! free trial */

.free-trial{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-e-bottone{
    height: 200px;
    width: 100%;
    border: 2px solid red;

}

/* !FAQ */

.faq{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.questions{
    height: 500px;
    width: 100%;
    border: 2px dotted rgb(0, 255, 13);

}

